.site-layout-background {
    background: #59B379;
}
.sidebarMenu{
    background: #59B379;
}
.site-layout-background {
    background: #fff;
}

.menu-button {
    display: none;
}

.drawer-mobile .ant-drawer-body {
    padding: 0;
}

.sider-desktop {
    display: block;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
    }

    .sider-desktop {
        display: none;
    }
}
