/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Apply styles to the ai-bot-interaction container */
.ai-bot-interaction {
    height: 100vh;
    display: flex;


}

.content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #59B379;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.classroom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
}

.class-header {
    width: 100%;
    margin-bottom: 20px;
}

.class-header h1 {
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10;
    color: #ffffff;
    font-size: 2em;
    justify-content: center;
}

.top-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.webcam {
    width: 300px;
    height: 225px;
    border-radius: 10px;
    border: 3px solid #ffffff50;
}

.blackboard {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.message {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.message.user {
    text-align: left;
}

.message.ai {
    text-align: right;
}

/* Customized Select component */
.ant-select {
    width: 300px;
    max-width: 100%;
    font-size: 1.2em;
    color: white;
    background-color: #ffffff !important;
    border: none;
    border-radius: 5px;

}

.ant-select-selector {
    background: #ffffff !important;
    border: 1px solid #ffffff !important;
    border-radius: 10px !important;
    height: 30px !important;
    max-width: 900px;
    display: flex;
    color: rgb(0, 0, 0) !important;
    font-size: 18px;
    padding: 0 20px;
}

.custom-select .ant-select-arrow {
    color: #59B379 !important;
}

/* .custom-select.ant-select-open .ant-select-selector {
    border-color: #59B379 !important;
  }
   */
/* Specific to the custom-dropdown class */
.custom-dropdown.ant-select-dropdown {
    background: #13351f !important;
    color: white !important;
}

.custom-dropdown .ant-select-item {
    color: white !important;
}

.custom-dropdown .ant-select-item:hover,
.custom-dropdown .ant-select-item-option-selected {
    background: #59B379 !important;
    color: white !important;
}


.raise-hand-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.raise-hand-button {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.raise-hand-button:hover {
    background-color: #59B379;
}
@media screen and (max-width: 600px) {
    .ai-bot-interaction Layout{
        display: flex;
        padding: 5px;
    }
    .question-history-sider{
        display: none;
    }
    .webcam{
        margin: 15px; 
    }
    .top-section{
        padding: 5px;
    }
}
/* Responsive design for very small screens */
@media screen and (max-width: 480px) {
    .content {
        width: 100%;
        padding: 10px;
    }
}