.chat-room html, body{
    
    width: 100wh;
    overflow: hidden;
}

.chat-header {
    background: #4b7455;
    color: white;
    padding: 0 16px;
}

.header-title {
    color: white !important;
    padding: 15px;
}

.main-layout {
    height: 90%;
}

.content-layout {
    display: flex;
    flex-direction: row;
}

.chat-content {
    padding: 0 24px;
    flex: 1;
    background: #ffffff;
}

.site {
    background: #707172;
}

.canvas-sider {
    padding: 16px;
    height: 100%;
    background: #ffffff;
}

.raise-hand-button {
    float: right;
    margin-top: 8px;
    background-color: #ff9800;
    /* Change button background color */
    border: none;
    /* Remove button border */
}

.raise-hand-button:hover {
    background-color: #ff5722;
    /* Change button background color on hover */
}

input::placeholder {
    color: #bfbfbf;
}

.ant-input-affix-wrapper {
    border-radius: 30px !important;
}